:root {
    
    /* Colors */

    --maroon: #83003f;
    --blue: #073671;
    --black: #000000;
    --soft-black: #232b2b;
    --white: #FFFFFF;
    --silver:  #BBC2CC;
    --gold: gold;

    --op-maroon: hsla(331, 100%, 56%, .2);



    --black-gradient-top-down: linear-gradient(var(--black)70%, var(--soft-black));
    --black-gradient-bottom-up:  linear-gradient(to top, var(--black)70%, var(--soft-black)); 
   
    --bg-gradient: linear-gradient(var(--black), var(--op-maroon)50%, var(--black)100%);

    /* font-family */

    --ff-roboto: 'Roboto', sans-serif, Arial;

    /* font-weight */

    --fw-400: 400; 
    --fw-700: 700;
    --fw-900: 900;

    /* font-size */

    /* Burger-menu custom variables */
    --bar-width: 3rem;
    --bar-height: .4rem;
    --burger-gap: .4rem;
    --burger-margin: .7rem;
    --burger-height: calc(var(--bar-height) * 3 + var(--burger-gap) * 2);

    /* Timing functino */
    --animation-timing: 200ms ease-in-out;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* TODO - Check what this means exactly  */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

}  

/* MY CODING */
/* MY CODING */
/* MY CODING */


html {
    font-size: 62.5%;
    background-color: var(--soft-black);
    text-transform: uppercase;
    letter-spacing: 2px;
}

body {
    font-size: 1.6rem;
    font-family: var(--ff-roboto);
    /* BURGER MENU PADDING */
    /* padding-top: calc(var(--burger-height)); */
    color: var(--white);
    min-height: 100vh;
    position: relative;

}

  /* NAV BAR - LOGO BANNER SECTION*/

/* .flex-nav {
display: none;
} */

header {
  position: sticky;
  height: 4.4rem;
  background-image: var(--black-gradient-top-down);
  width: 100%;

  margin: 0;
  padding: 0;
}

.flex-nav-container {
  display: flex;
  margin: 0 auto;
}

.flex-nav-ul {
  display: flex;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: 1rem;
}

.flex-nav-ul li + li:before {
  content: "|";
  padding: .7rem;
}

.flex-nav-logo {
  height: 2.5em;
  padding: .5rem 0 0 1rem;
}


/* Burger Menu section */

/* Burger Header */
/* header {
    height: calc(var(--burger-height) + 2rem);
    position: fixed;
    width: 100%;
    top: 0;
} */

.burger-nav, .burger-menu, .menu-sidebar, .burger-nav-lis, .burger-nav-logo  {
  display: none;
}

.burger-nav-lis {
    color: var(--white);
    font-family: var(--ff-roboto);
    font-size: 2.5rem;
    font-weight: var(--fw-700);
}

.burger-nav-logo {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-top: .7rem;
    margin-left: 2rem;
}

.burger-nav {
  background-image: var(--black-gradient-top-down);
  height: calc(var(--burger-height) + 2rem);

}

.burger-menu {
    --x-width: calc(var(--burger-height) * 1.41421356237
    );
    display: flex;
    flex-direction: column;
    gap: var(--burger-gap);
    width: max-content;
    position: absolute;
    top: var(--burger-margin);
    right:var(--burger-margin);
    z-index: 3;
    cursor: pointer;
}

.burger-menu::before,
.burger-menu::after,
.burger-menu input {
    content: " ";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: silver;
    border-radius: 25px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(animation-timing), translate var(--animation-timing), background-color var(--animation-timing); 
}

.burger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
    background-color: var(--gold);
}

.burger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
    background-color: var(--gold);

}

.burger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.burger-menu input:checked {
    opacity: 0;
    width: 0;
}

.menu-sidebar {
    translate: -100%;
    transition: var(--animation-timing);
    position: absolute;
    padding-left: 3rem;
    padding-top: 5rem;
    background-color: var(--soft-black);
    color: var(--white);
    width: 100%;    
    min-height: 100vh;
    z-index: 5;
}

.burger-menu:has(input:checked) + .menu-sidebar {
    translate: 0;
}

/* MAIN CSS */

/* COMMON STYLES */

.container {
  width: 90%;
  max-width: 375px;
  border: solid 2px black;
  margin-inline: auto;
  text-align: center;
  /* margin-top: 3rem; */
  margin-bottom: 1rem;
  border-radius: 2rem;
}

h2 {
  font-size: 1.5rem;
  border-bottom: 3px solid var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}

.bg {
  min-width: 100%;
}


a:hover {
  cursor: pointer;
  color: gold;
}


.btn-2 {
  margin: 1rem auto;
  padding: 3px 0;
  width: 100%;
  font-family: var(--ff-roboto);
  font-weight: var(--fw-900);
  letter-spacing: 2px;
  background-color: var(--maroon);
  color: var(--white);
  border: none;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 5px var(--white);
}

footer {
  background-image: var(--black-gradient-bottom-up);
}


.footer-flex {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.footer-flex p {
  font-size: .7rem;
  color: silver;
  margin-left: 1rem;
}

.footer-flex ul {
  display: flex;
  justify-content: center;
  color: silver;
  opacity: .7;
  margin-left: 5rem;
}

.footer-flex ul li {
  margin-left: 1rem;
  font-size: 1rem;
}


/* HOME PAGE STYLES */

.home-container-bg {
  background-image: url(/images/bg-tile-option-1.jpg);
  background-color: var(--maroon);
  background-size: contain;
  background-position-x: center;
  background-position-y: top;
  min-height: 100vh;
}

.hero-text {
  color: var(--white);
  text-align: center;
  padding: 5rem 2rem;
}

.hero-text h1 {
  letter-spacing: 4px;
  font-family: var(--ff-roboto);
  font-weight: var(--fw-900);
  padding-top: 40rem;
  color: gold;
  line-height: 45px;
  text-shadow: 2px 2px --black;
}

.hero-text h1 span {
  display: block;
  font-size: 2rem;
  line-height: 8px;
}

/* ABOUT PAGE STYLES */

.about-container-bg {
  background-image: var(--bg-gradient);
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  min-height: 100vh;
}

.about-container-bg p {
  padding: 4rem 0 1rem 0 ;
  border-top: 3px solid var(--white);
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 700;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  justify-content: center;
  margin: 2rem 0;;
  gap: 2rem;
}

.grid-item-1 {
  height: 100px;
  width: 100px;
  background-image: url(/images/grid-img-1.jpg);
  background-size: cover;
  background-position-x: center;
  border-radius: 1rem;
  border: 1px solid var(--gold);
  box-shadow: 0px 0px 6px var(--gold);
}

.grid-item-2 {
  height: 100px;
  width: 100px;
  background-image: url(/images/grid-img-2.jpg);
  background-size: cover;
  background-position-x: center;
  border-radius: 1rem;
  border: 1px solid var(--gold);
  box-shadow: 0px 0px 6px var(--gold);
}

.grid-item-3 {
  height: 100px;
  width: 100px;
  background-image: url(/images/grid-img-3.jpg);
  background-size: cover;
  background-position-x: center;
  border-radius: 1rem;
  border: 1px solid var(--gold);
  box-shadow: 0px 0px 6px var(--gold);
}

.grid-item-4 {
  height: 100px;
  width: 100px;
  background-image: url(/images/grid-img-4.jpg);
  background-size: cover;
  background-position-x: center;
  border-radius: 1rem;
  border: 1px solid var(--gold);
  box-shadow: 0px 0px 6px var(--gold);
}

.hover-img:hover {
  background-image: url(/images/logo-svg-large.png);
  background-size: cover;
  transition-duration: 300ms;
  background-color: var(--gold);
}

.tile-grid {
  display: none;
}


/* figcaption {
  padding: 0;
  margin: 0;
  color: silver;
  opacity: .6;
  font-size: 1rem;
} */


/* YOUR TEAM SECTION */


.container-bg-2 {
  background-image: var(--bg-gradient);
  background-color: var(--soft-black);
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  min-height: 100vh;
}

.table-heading {
  color: var(--gold);
}

.table-heading span {
  font-size: 2.2rem;
}

.team-table {
  border-collapse: collapse;
  text-align: left;
  margin: 1rem auto;
  font-size: 1.2rem;
  min-width: 300px;
  border-radius: .4rem;
  overflow: hidden;
}

.team-table thead tr {
  font-weight: bold;
  font-size: 1.5rem;
}

.team-table thead tr th {
  padding-bottom: 0.5rem;
  padding-top: .5rem;
}

.team-table tr {
  padding: 1rem 0;
}

.team-table tr:nth-last-of-type(odd) {
  background-color: hsla(331, 100%, 26%, 0.4);
}

.team-table tr:nth-last-of-type(even) {
  background-color: hsla(331, 100%, 26%, 0.6);
}

.team-table tbody tr th {
  text-align: center;
  padding-right: 1rem;
  color: var(--gold);
}

.team-table tbody tr td:nth-child(2) {
  padding-right: 1rem;
}

.team-table tbody tr td input[type="text"] {
  width: 100%;
  max-width: 25rem;
}

.information-form-section {
  max-width: 80%;
  margin: 0 auto;
}

.information-form-section div {
  padding: .2rem 0; 
}

.information-form-section div {
  display: flex;
  justify-content: space-between;
}

.information-form-section h4 {
  font-size: 1.5rem;
  padding: 1rem 0;
}



/* QUEENSLAND TEAM SECTION */

.qld-team-heading {
  padding-top: 1rem;
  line-height: 3rem;
  color: var(--gold);
}

.qld-team-table {
  min-height: 100vh; 
  margin-bottom: 3rem;
  width: 80%;
}

.qld-team-table tbody tr {
  padding-top: 3rem;
}

/* MEDIA QUERIES */

@media (min-width: 900px) {

  .flex-nav {
    margin: 0 auto;
    max-width: 1200px
  }

  .container {
    width: 90%;
    min-width: 375px;
    max-width: 100%;
    border: solid 2px black;
    margin-inline: auto;
    justify-self: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 15px var(--gold);
    flex-grow: 1;
    
  }

  .btn-2 {
    font-size: 2rem;
    margin: 1rem auto;
    padding: 3px 0;
    width: 100%;
    font-family: var(--ff-roboto);
    font-weight: var(--fw-900);
    letter-spacing: 2px;
    background-color: var(--maroon);
    color: var(--white);
    border: none;
    border-radius: 2px;
  }

  .home-container-bg {
    background-image: var(--bg-gradient);
    background-repeat: no-repeat;
    background-color: var(--black);
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    min-height: 100vh;
  }

  .home-hero-text h2 {
    font-size: 3rem;
  }

  .home-hero-text h1 {
    font-size: 5rem;
    padding-top: 15rem;  
    line-height: 7.5rem;
    text-shadow: 0 0 7px var(--gold);
  }

  .container-bg-2 {
    background-image: var(--bg-gradient);
    background-color: var(--soft-black);
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    min-height: 100vh;
  }

  /* HOME PAGE */

  .flex {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
  }

  .panel {
    width: 90%;
    min-width: 300px;
    border: solid 2px black;
    background-image: url(/images/qld-tile-bg.jpg);
    background-color: var(--maroon);
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    min-height: 100vh;
    margin-top: 6rem;
    margin-bottom: 4rem;
    border-radius: 2rem;
  }

  .panel-left {
    margin-left: 2rem;
    background-image: url(/images/bg-tile-option-1.jpg);
    background-position: ;
  }

  .panel-right {
    margin-right: 2rem;
  }

  .panel-left:hover, .panel-right:hover {
    box-shadow: 0 0 15px var(--gold);
  }

  /* ABOUT PAGE */

  .about-container-bg {
    background-image: var(--bg-gradient));
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    min-height: 100vh;
    min-width: 375px;
  }

  .about-grid {
    display: none;
  }

  .about-bg {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .tile-grid-right {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    position: absolute;
    z-index: 10;
    column-gap: 3rem;
    row-gap: 4rem;
    margin-top: 6rem;
    margin: 5rem;
  }

  .tile-grid-left {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    position: absolute;
    z-index: 10;
    column-gap: 3rem;
    row-gap: 4rem;
    margin-top: 6rem;
    direction: rtl;
    right: 0;
    margin: 5rem;
  }

  .grid-item-5 {
    height: 100px;
    width: 100px;
    background-image: url(/images/grid-img-1.jpg);
    background-size: cover;
    background-position-x: center;
    border-radius: 1rem;
    border: 1px solid var(--gold);
  }

  .grid-item-5:hover {
    border: 1px solid var(--gold);
    box-shadow: 0px 0px 6px var(--gold);
    transition: 200ms;
    background-color: var(--gold);
    background-image: url(/images/logo-svg-small.png);
    box-shadow: 0 0 10px var(--gold);
  }

  .grid-item-img-1 {background-image: url(/images/grid-item-img-1.jpg);}
  .grid-item-img-2 {
    background-image: url(/images/grid-img-2.jpg);
  }
  .grid-item-img-3 {background-image: url(/images/grid-item-img-3.jpg);}
  .grid-item-img-4 {background-image: url(/images/grid-item-img-4.jpg);}
  .grid-item-img-5 {background-image: url(/images/grid-item-img-5.jpg);}
  .grid-item-img-6 {background-image: url(/images/grid-item-img-6.jpg);}
  .grid-item-img-7 {background-image: url(/images/grid-item-img-7.jpg);}
  .grid-item-img-8 {background-image: url(/images/grid-item-img-8.jpg);}
  .grid-item-img-9 {background-image: url(/images/grid-item-img-9.jpg);}
  .grid-item-img-10 {background-image: url(/images/grid-item-img-10.jpg);}
  .grid-item-img-11 {background-image: url(/images/grid-item-img-11.jpg);}
  .grid-item-img-12 {background-image: url(/images/grid-item-img-12.jpg);}
  .grid-item-img-13 {background-image: url(/images/grid-item-img-13.jpg);}
  .grid-item-img-14 {background-image: url(/images/grid-item-img-14.jpg);}
  .grid-item-img-15 {background-image: url(/images/grid-item-img-15.jpg);}
  .grid-item-img-16 {background-image: url(/images/grid-item-img-16.jpg);}
  .grid-item-img-17 {background-image: url(/images/grid-item-img-17.jpg);}
  .grid-item-img-18 {background-image: url(/images/grid-item-img-18.jpg);}

  .about-panel {
    width: 90%;
    max-width: 375px;
    background-image: none;
    background-color: none;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    min-height: 100vh;
    margin-top: 8rem;
    margin-bottom: 6rem;
    border-radius: 2rem;
    position: relative;  
}

.about-container-bg p {
  padding-top: 1rem;
  border-top: 3px solid var(--white);
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 700;
}

.about-hero-text h2 {
  padding: rem;
  font-size: 3rem;
}

.about-hero-text p {
  padding-top: 2rem;
  font-size: 3rem;
}


/* YOUR TEAM PAGE */

.form-container {
  width: 90%;
  max-width: 100%;
  flex-grow: 1;
  border: solid 2px black;
  margin-left: 2rem;
  justify-self: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 15px var(--gold);
}


.table-heading {
  color: var(--gold);
  font-size: 5rem;
}

.table-heading span {
  font-size: 3.4rem;
}

.team-table {
  border-collapse: collapse;
  text-align: left;
  margin: 1rem auto;
  font-size: 2rem;
  min-width: 300px;
  border-radius: .4rem;
  overflow: hidden;
}

.team-table thead tr {
  font-weight: bold;
  font-size: 3rem;
}


.information-form-section {
  max-width: 80%;
  margin: 0 auto;
}

.information-form-section div {
  padding: .2rem 0; 
}

.information-form-section div {
  display: flex;
  justify-content: space-between;
}

.information-form-section h4 {
  font-size: 2rem;
  padding: 1rem 0;
}

.jt-panels {
  max-width: 375px;
  min-width: 350px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  margin-top: 3rem;
  min-height: 100vh;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  overflow: hidden;
}

.your-team-panel-1 {
  height: 100%;
  width: 100%;
  border: 1px solid var(--gold);
  border-radius: 2rem;
  background-image: url(/images/logo-svg-large.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

}

.your-team-panel-2 {
  height: 100%;
  width: 100%;
  border: 1px solid var(--gold);
  border-radius: 2rem;
  background-image: var(--bg-gradient);
  background-image: url(/images/logo-svg-large.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

}

.your-team-panel-3 {
  height: 100%;
  width: 100%;
  border: 1px solid var(--gold);
  border-radius: 2rem;
  background-image: url(/images/logo-svg-large.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

}

.your-team-panel-1:hover {
  background-size: cover;
  background-image: url(/images/jt-top.jpg);
}

.your-team-panel-2:hover {
  background-image: url(/images/jt-middle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.your-team-panel-3:hover {
  background-image: url(/images/goats-legs-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Greatest Team */

.qld-team-heading {
  padding-top: 1rem;
  line-height: 5rem;
  color: var(--gold);
  font-size: 3rem;
}

.qld-team-table {
  min-height: 100vh; 
  margin-bottom: 3rem;
  width: 80%;
}

.qld-team-table tbody tr {
  padding-top: 3rem;
}

.goat-panel {
  width: 90%;
  max-width: 430px;
  border: solid 2px black;
  background-image: url(/images/qld-tile-bg.jpg);
  background-color: var(--maroon);
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  min-height: 100vh;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  border-radius: 2rem;
  flex-grow: 0;
}

.goat-container {
  width: 90%;
  min-width: 430px;
  max-width: 100%;
  border: solid 2px black;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-self: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 15px var(--gold);
  flex-grow: 1;
}






}